.Home{
  padding:190px 0px 190px 0px;
}
.catch-copy{
  font-size:100px;
}
.title{
  font-size:50px;
}
.nav{
  margin-top:50px;
}

.AboutMe{

}
.self_int{
  font-size:20px;
  padding-top:50px;
}

.Skills{
  ul{
    list-style:none;
    direction:horizontal;
    li{
      display:inline-block;
    }
  }
  img{
    height:80px;
    margin:5px
  }
}
